.container {
        
}

#heading-1 {
  margin-inline: 35%;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: royalblue;
}

#heading-2 {
  margin-inline: 35%;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: palevioletred;
}

#heading-3 {
  margin-inline: 35%;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: seagreen;
}

header {
  padding: 2%;
}

header div button {
  margin-inline: 25px;
}

/* 
#b-1{
margin-inline: 25px;
}

#b-2{
margin-inline: 25px;
}

#b-3{
margin-inline: 25px;
} */

.profile-card {
  background-color: #fff;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 20px;
  border: 2px solid black;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto 15px;
}

.profile-card h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.profile-card p:nth-child(3) {
  font-style: italic;
  color: #777;
  margin: 5px 0;
}

.profile-card p:last-child {
  color: #777;
  margin: 5px 0;
}

.profile-card-2 {
  background-color: #fff;
  width: 300px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 20px;
  border: 2px solid black;
}

.profile-card-2 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto 15px;
}

.profile-card-2 h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.profile-card-2 p:nth-child(3) {
  font-style: italic;
  color: #777;
  margin: 5px 0;
}

.profile-card-2 p:last-child {
  color: #777;
  margin: 5px 0;
}