*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 5000px;
}

.heading{
    border: 5px solid black;
    padding: 16px;
    background: darkmagenta;
    color: white;
    margin-bottom: 2em;
}

.border-bottom{
    border-bottom: 5px solid black;
    width: 90%;
    margin: auto;
    padding-bottom: 0.5em;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1em;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: orange ;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.section{
    width: 90%;
    margin: auto;
    padding: 1em 3em;
    border: 3px solid darkmagenta;
    border-radius: 3px;
}

.section h2{
    margin-bottom: 20px;
}

.section ul li{
    font-size: 18px;
    margin-bottom: 5px;
}

.card{
    width: 400px;
    margin: auto;
    /* padding: 1em; */
    border-radius: 5px;
    border: 2px solid #4949ff;
    margin-top: 3em;
    overflow: hidden;
    position: relative;
}

.card div{
    height: 80px;
    background: #4949ff;

}

.card img{
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 23px;
}

.card h2{
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 16px;
}

.card p{
    padding-left: 10px;
    margin-bottom: 1em;
}

.guide{
    text-align: center;
    margin-top: 20px;
}