.font-styles {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin-left: auto;
  }
  
  .box {
    width: 300px;
    height: 300px;
    background-color: cyan;
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px solid black;
  }
  
  .box img{
    border: 2px solid black;
    margin: 30px 30px ;
  }

  .container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
  }
  
  .intro-content {
    width: 50%;
  }
  
  .intro {

    background: #23424a;
    color: white;
    padding: 50px 10px;
    border-radius: 20px;
  }

  .position-properties {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.blocky1{
    color: white;
    width:100px;
    height: 100px;
    background-color: seagreen;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid black;
}

.blocky2{
    color: white;
    width:120px;
    height:100px;
    background-color: blue;
    margin: 0 auto;
    border: 2px solid black;
}

.blocky3{
    color: white;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    margin: 0 auto;
    border: 2px solid black;
}


.blocky11{
    color: white;
    width:100px;
    height: 100px;
    background-color: seagreen;
    margin: 0 auto;
    
    border: 2px solid black;
    position: absolute;
}

.blocky22{
    color: white;
    width:120px;
    height:100px;
    background-color: blue;
    border: 2px solid black;
}

.blocky33{
    color: white;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    border: 2px solid black;
}

